//Background colors
$background-darkpurple: rgb(69,57,81);
$background-lightpurple: rgb(177,171,182);

// Fonts color
$primary-black: rgb(51,51,51);
$primary-darkgray: rgb(102,102,102);
$primary-lightgray: rgb(153,153,153);
$primary-beige: rgb(215,189,155);

//others
$pluto-orange: rgb(234,98,61);
$black: rgb(0,0,0);
$white: rgb(255,255,255);
