<div class="row">
  <div class="small-12 medium-3 column text-left">
    <div class="footer-logo-image">
      <img src="assets/img/footer-logo.png" alt="PLUTO">
    </div>
    <p class="regular-paragraph">Made with love by kripalser</p>
    <p class="regular-paragraph">	&copy; 2013</p>
  </div>
  <div class="small-12 medium-3 column text-left">
    <h5 class="subtitle-section">CONTACT US</h5>
    <a class="footer-email" href="mailto:hello@example.com">hello@example.com</a>
    <p class="footer-paragraph">121 King Street, Melbourne<br>Victoria 3000 Australia</p>
    <p><a class="footer-paragraph" href="tel:61383766284">+61 3 8376 6284</a></p>
  </div>
  <div class="small-12 medium-3 column text-left">
    <h5 class="subtitle-section">RECENT TWEET</h5>
    <p class="date-paragraph">DECEMBER 3</p>
    <p class="footer-paragraph">Testing 1, 2, 3. We've just launched version 1 of our new Envato<br>Marketplaces Hub! Let us know what you think :) <a class="footer-link" href="http://envatomarketplaces.com">http://envatomarketplaces.com</a></p>
  </div>
  <div class="small-12 medium-3 column text-left">
    <h5 class="subtitle-section">PHOTOSTREAM</h5>
    <div class="row">
      <div class="small-4 columns">
        <img src="assets/img/footer-image.png" alt="footer-image">
      </div>
      <div class="small-4 columns">
        <img src="assets/img/footer-image.png" alt="footer-image">
      </div>
      <div class="small-4 columns">
        <img src="assets/img/footer-image.png" alt="footer-image">
      </div>
    </div>
  </div>
</div>
<div class="row expanded">
  <div class="small-12 columns text-right">
       <div class="arrow-up"><a class="arrow-up-to-top" id="head-sectionlink" href="#"><img src="assets/img/arrow-up.png" alt=""></a></div>
  </div>
</div>
