
<nav class="main-menu">
  <div class="row align-middle">
    <div class="small-6 medium-4 columns text-left">
      <img class="menu-img" src="assets/img/logo.png" alt="Pluto" />
    </div>
    <div class="small-7 columns text-right show-for-medium">
			<ul class="menu-list">
				<li class="menu-list-element">
          <a class="link-decoration" href="#">HOME</a>
				</li>
				<li class="menu-list-element">
					<a class="link-decoration" href="#">ABOUT</a>
				</li>
				<li class="menu-list-element">
          <a class="link-decoration" href="#">PORTFOLIO</a>
				</li>
        <li class="menu-list-element">
          <a class="link-decoration" href="#">BLOG</a>
        </li>
        <li class="menu-list-element">
          <a class="link-decoration" href="#">CONTACT</a>
        </li>
			</ul>
    </div>
    <div class="small-6 medium-1 columns text-right-mobile">
      <div class="hamburger-btn-container show-for-small-only">
       <button class="mobile-menu-btn"><span class="fa fa-bars fa-2x" aria-hidden="true"></button>
      </div>
        <div class="search-container">
          <form class="" action="index.html" method="post">
            <button class="expand-input-btn show-for-medium"><span class="fa fa-search" aria-hidden="true"></span></button>
            <button class="expand-input-btn show-for-small-only"><span class="fa fa-2x fa-search" aria-hidden="true"></span></button>
            <button class="search-btn show-for-medium"><span class="fa fa-search" aria-hidden="true"></span></button>
            <button class="search-btn show-for-small-only"><span class="fa fa-2x fa-search" aria-hidden="true"></span></button>
            <input class="input-search" type="text" name="" value="" placeholder="Wpisz szukaną frazę">
          </form>
        </div>
    </div>

    <div class="small-12 columns mobile-menu">
      <ul class="hamburger-menu text-center">
        <li>
          <a class="link-decoration" href="#">HOME</a>
        </li>
        <li>
          <a class="link-decoration" href="#">ABOUT</a>
        </li>
        <li>
          <a class="link-decoration" href="#">PORTFOLIO</a>
        </li>
        <li>
          <a class="link-decoration" href="#">BLOG</a>
        </li>
        <li>
          <a class="link-decoration" href="#">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
