<div class="small-12 medium-3 columns">
  <div class="team-member">
    <div class="member-image-container">
      <img src="assets/img/@@member-img" alt="@@member-name">
    </div>
    <div class="member-description">
      <h4 class="element-title">@@member-name</h4>
      <p class="regular-paragraph">@@member-position</p>
    </div>
    <div class="social-icon-container">
      <a href="@@facebook-link"><span class="fa fa-facebook-square"></span></a>
      <a href="@@twitter-link"><span class="fa fa-twitter"></span></a>
      <a href="@@linkedin-link"><span class="fa fa-linkedin-square"></span></a>
    </div>
  </div>
</div>
