<div class="row">
  <div class="small-12 columns text-center">
    <h3 class="subtitle-section">OUR CAPABILITIES</h3>
  </div>
</div>
<div class="row">
  <div class="small-12 columns text-center">
    <h2 class="title-section">Things we are good at</h2>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-6 columns">
    <ul class="accordion" data-accordion>
      @@include('./components/pluto-accordion.html', {
        "activeClass"      :  "is-active",
        "accordionTitle"   :  "Problems solving",
        "accordionContent" :  "Maecenas placerat arcu purus. Aliquam eget pulvinar purus, vel vehicula lorem. In eu tortor lectus. Phasellus non lacus nec mauris gravida viverra ut id est. Morbi vel urna in mauris interdum dapibus at sodales velit."
      })
      @@include('./components/pluto-accordion.html', {
        "activeClass"      :  "",
        "accordionTitle"   :  "Systems monitoring",
        "accordionContent" :  "Maecenas placerat arcu purus. Aliquam eget pulvinar purus, vel vehicula lorem. In eu tortor lectus. Phasellus non lacus nec mauris gravida viverra ut id est. Morbi vel urna in mauris interdum dapibus at sodales velit."
      })
      @@include('./components/pluto-accordion.html', {
        "activeClass"      :  "",
        "accordionTitle"   :  "Affect menagement",
        "accordionContent" :  "Maecenas placerat arcu purus. Aliquam eget pulvinar purus, vel vehicula lorem. In eu tortor lectus. Phasellus non lacus nec mauris gravida viverra ut id est. Morbi vel urna in mauris interdum dapibus at sodales velit."
      })
    </ul>
  </div>
  <div class="small-12 medium-6 columns">
    <div class="progress-bar-legend">
      <p class="regular-paragraph color-main-black">PHOTOSHOP</p>
      <p class="regular-paragraph">Pro</p>
    </div>
    <div class="progress" role="progressbar" tabindex="0" aria-valuenow="90" aria-valuemin="0" aria-valuetext="90 percent"  aria-valuemax="100">
      <div class="progress-meter" style="width: 90%"></div>
    </div>

      <div class="progress-bar-legend">
        <p class="regular-paragraph color-main-black">ILLUSTRATOR</p>
        <p class="regular-paragraph">Very good</p>
      </div>
      <div class="progress" role="progressbar" tabindex="0" aria-valuenow="75" aria-valuemin="0" aria-valuetext="75 percent" aria-valuemax="100">
      <div class="progress-meter" style="width: 75%"></div>
      </div>


      <div class="progress-bar-legend">
        <p class="regular-paragraph color-main-black">INDESIGN</p>
        <p class="regular-paragraph">Good</p>
      </div>
      <div class="progress" role="progressbar" tabindex="0" aria-valuenow="55" aria-valuemin="0" aria-valuetext="55 percent" aria-valuemax="100">
      <div class="progress-meter" style="width: 55%"></div>
      </div>


      <div class="progress-bar-legend">
        <p class="regular-paragraph color-main-black">AFTER EFFECTS</p>
        <p class="regular-paragraph">Average</p>
      </div>
      <div class="progress" role="progressbar" tabindex="0" aria-valuenow="45" aria-valuemin="0" aria-valuetext="45 percent" aria-valuemax="100">
      <div class="progress-meter" style="width: 45%"></div>
      </div>
  </div>

</div>
