<div class="row">
  <div class="small-12 medium-3 columns">
    <div class="row">
      <div class="small-12 columns text-left">
        <h3 class="subtitle-section">OUR CLIENTS</h3>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns text-left">
        <h2 class="title-section">Meet our happy customers</h2>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns text-left">
        <p class="regular-paragraph">Pellentesque varius ipsum sed odio tristique lacinia. Mauris vel felis at mauris sollicitudin condimentum.</p>
      </div>
    </div>
  </div>
  <div class="small-12 medium-9 columns">
    <div class="row">
      <div class="small-6 medium-3 columns">
        <img class="client" src="assets/img/client.jpg" alt="client">
      </div>
      <div class="small-6 medium-3 columns">
        <img class="client" src="assets/img/client.jpg" alt="client">
      </div>
      <div class="small-6 medium-3 columns">
        <img class="client" src="assets/img/client.jpg" alt="client">
      </div>
      <div class="small-6 medium-3 columns">
        <img class="client" src="assets/img/client.jpg" alt="client">
      </div>
      <div class="small-6 medium-3 columns">
        <img class="client" src="assets/img/client.jpg" alt="client">
      </div>
      <div class="small-6 medium-3 columns">
        <img class="client" src="assets/img/client.jpg" alt="client">
      </div>
      <div class="small-6 medium-3 columns">
        <img class="client" src="assets/img/client.jpg" alt="client">
      </div>
      <div class="small-6 medium-3 columns">
        <img class="client" src="assets/img/client.jpg" alt="client">
      </div>
    </div>
  </div>
</div>
