<div class="title-container">
  <div class="row align-middle">
    <div class="small-6 columns text-left">
      <h1 class="title-section">About us</h1>
    </div>
    <div class="small-6 columns text-right">
      <p><a href="#">Home</a> / <a href="#">About us</a></p>
    </div>
  </div>
</div>
<div class="description-container">
  <div class="row">
    <div class="small-12 medium-6 columns">
      <div class="description-image-container">
        <img src="assets/img/desc-image.jpg" alt="description image">
      </div>
    </div>
      <div class="small-12 medium-6 columns">
        <div class="desctiprion-content">
          <h3 class="element-title">Welcome to our company</h3>

          <p class="regular-paragraph">Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Mauris interdum erat eget quam mattis, suscipit fermentum sem ultrices. Quisque commodo quam sit amet velit porta molestie. Morbi sodales, massa at rutrum pharetra, lectus lorem rutrum velit, quis lobortis enim lacus eu eros. Vivamus suscipit eget nunc id interdum. </p>

          <p class="regular-paragraph">Ut dictum justo ut rutrum pellentesque. In vestibulum vel mi vel convallis. Integer semper consectetur erat et vestibulum. Vestibulum vulputate metus ac purus faucibus, at rhoncus enim eleifend. Vestibulum purus quam, tempus sit amet quam ac, hendrerit porttitor metus. Curabitur fermentum pellentesque adipiscing. Donec lobortis elementum orci. Donec et venenatis.</p>
      </div>
    </div>
  </div>
</div>
