<div class="row">
  <div class="small-12 columns text-center">
    <h3 class="subtitle-section">OUR SERVICES</h3>
  </div>
</div>
<div class="row">
  <div class="small-12 columns text-center">
    <h2 class="title-section">What can we do for you?</h2>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-8 medium-offset-2 columns text-center">
    <p class="section-description">Mauris eget ligula vel nulla dignissim pharetra non sed orci. Praesent consequat egestas dapibus. Quisque faucibus erat at metus adipiscing lacinia.</p>
  </div>
</div>
<div class="row">
  @@include('./components/service.html', {
    "icon-class"   :  "fa-star",
    "service-title":  "Brand creation",
    "service-description" : "Praesent dignissim dui eu urna feugiat lobortis. Morbi varius nibh sit amet adipiscing mollis. Aenean id neque ut augue gravida posuere."
  })
  @@include('./components/service.html', {
    "icon-class"   :  "fa-asterisk",
    "service-title":  "Interface design",
    "service-description" : "Donec sed dui consectetur, condimentum tellus nec, lacinia felis. Aenean vehicula erat a justo lobortis, non euismod orci vulputate."
  })
  @@include('./components/service.html', {
    "icon-class"   :  "fa-trophy",
    "service-title":  "Graphic design",
    "service-description" : "Nam pharetra justo turpis, quis rutrum lorem lobortis euismod. Praesent augue, consectetur ultricies eros non, lacinia scelerisque ante."
  })
  @@include('./components/service.html', {
    "icon-class"   :  "fa-gear",
    "service-title":  "Web development",
    "service-description" : "Aenean vitae neque mi. Phasellus tempor risus non risus tristique, quis egestas velit vulputate. Sed porttitor non nunc non pharetra."
  })
  @@include('./components/service.html', {
    "icon-class"   :  "fa-thumbs-o-up",
    "service-title":  "Online marketing",
    "service-description" : "Duis quis elit hendrerit, tempor magna ac, adipiscing ligula. Maecenas neque nibh, vehicula ut neque at, scelerisque mollis enim."
  })
  @@include('./components/service.html', {
    "icon-class"   :  "fa-star",
    "service-title":  "Brand creation",
    "service-description" : "Praesent dignissim dui eu urna feugiat lobortis. Morbi varius nibh sit amet adipiscing mollis. Aenean id neque ut augue gravida posuere."
  })
</div>
