<div class="row">
  <div class="small-12 medium-5 columns text-left">
    <div class="social-container">
      <p class="subtitle-section">FOLLOW US</p>
      <div>

      <a href="#"><span class="icon-social"><span class="fa fa-facebook"></span></span></a>
      <a href="#"><span class="icon-social"><span class="fa fa-twitter"></span></span></a>
      <a href="#"><span class="icon-social"><span class="fa fa-google"></span></span></a>
      <a href="#"><span class="icon-social"><span class="fa fa-pinterest"></span></span></a>
    </div>
    </div>
  </div>
  <div class="small-12 medium-7 columns text-right">
    <div class="row">
      <div class="small-6 columns align-middle">
        <p class="subtitle-section">GET THE NEWSLETTER</p>
      </div>
      <div class="small-6 columns">
        <form class="newsletter-form" action="index.html" method="post">
          <input type="email" name="" value="" placeholder="Your email address">
          <button type="submit" class="newsletter-btn">SUBSCRIBE</button>
        </form>
      </div>
    </div>
  </div>
</div>
