<div class="row">
  <div class="small-12 columns text-center">
    <h3 class="subtitle-section">OUR TEAM</h3>
  </div>
</div>
<div class="row">
  <div class="small-12 columns text-center">
    <h2 class="title-section">The right people</h2>
  </div>
</div>

<div class="row">
  @@include('./components/team-member.html', {
    "member-img"       :   "team-member.jpg",
    "member-name"      :   "Robert Judd",
    "member-position"  :   "CEO",
    "facebook-link"    :   "#",
    "twitter-link"     :   "#",
    "linkedin-link"    :   "#"
  })
  @@include('./components/team-member.html', {
    "member-img"       :   "team-member.jpg",
    "member-name"      :   "Eva Barnes",
    "member-position"  :   "DESIGNER",
    "facebook-link"    :   "#",
    "twitter-link"     :   "#",
    "linkedin-link"    :   "#"
  })
  @@include('./components/team-member.html', {
    "member-img"       :   "team-member.jpg",
    "member-name"      :   "Eugene Fletcher",
    "member-position"  :   "DEVELOPER",
    "facebook-link"    :   "#",
    "twitter-link"     :   "#",
    "linkedin-link"    :   "#"
  })
  @@include('./components/team-member.html', {
    "member-img"       :   "team-member.jpg",
    "member-name"      :   "Janet McKenzie",
    "member-position"  :   "SUPPORT",
    "facebook-link"    :   "#",
    "twitter-link"     :   "#",
    "linkedin-link"    :   "#"
  })
</div>
